 .productCard{
    padding: 2rem 1rem;
    box-shadow: 2px 2px 6px #c2c1c0;
    width: fit-content;
    max-width: 400px;
    margin: 0 auto;
 }


 .image {
     width: 100%;
 }

 .name{
    font-size: 2.75rem;
    font-weight: 600;
    color: #1e293b;
    margin: .5rem 0;
 }

 .price{
    font-size: 1.75rem;
    font-weight: 200;
    color: #64748b;
    margin-bottom: 0.25rem 0;

 }

 .description{
    font-size: 14px;
    color: #1e293b;
 }

 .button {
     display: block;
     width: 100%;
     background-color: #84cc16;
     border: none;
     border-radius: 3px;
     padding: 1rem 2rem;
     color: #fff;
     font-size: 16px;

 }